<!DOCTYPE html>
<html lang="en" style="height:100%">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    <meta name="description" content="Group chat with tags.">
    <meta name="author" content="Kenny Bergquist">
    <link rel="manifest" href="/manifest.json">
    <title>Metachat</title>
  </head>
  <body style="height: 100%; background-color:whitesmoke;">
    <div style="height: 100%" id="root">
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
